@page "/company/dashboard"

<PageTitle>Career Application | Dashboard</PageTitle>

<MudText Typo="Typo.h5" Color="Color.Secondary" Class="mb-4">
    <strong>Dashboard</strong>
</MudText>

<p>Welcome To Career Application</p>